div(ng-repeat="paragraph in activeParagraphs" class="media bottom")
    div(ng-if="paragraph.senderId != me.id" class="media-left")
        img(src="image/male.png" class="media-object img-circle" alt="" style="max-width: 32px; max-height: 32px")
        div(class="avatar-title")
            |{{getByField(friends, "id", paragraph.senderId).fullName}}      

    div(class="media-body")
        p(ng-repeat="message in paragraph.messages track by $index" 
            class="alert {{paragraph.senderId == me.id ? 'alert-info' : 'alert-success'}}"
            id="{{message.senderId + '-' + message.timestamp}}")
            span(ng-bind-html="message.content")
            small(class="pull-right text-muted")
                |12:23 PM

    div(ng-if="paragraph.senderId == me.id" class="media-right")
        img(src="image/male.png" class="media-object img-circle" alt="" style="max-width: 32px; max-height: 32px")
        div(class="avatar-title")
            |{{me.fullName}}