div(ng-repeat="paragraph in activeParagraphs" class="row paragraph")
    div(class="col-xs-1")
        img(ng-if="paragraph.senderId != me.id" src="image/male.png" class="img-circle" alt="" style="width:100%")
    div(class="col-xs-11")
        div(ng-repeat="message in paragraph.messages track by $index" 
            class="row")
            div(ng-bind-html="message.content"
                class="col-xs-10 {{paragraph.senderId == me.id ? 'message-me' : 'message-friend'}} {{$index == 0 ? 'first-paragraph-message' : ''}} {{($index == paragraph.messages.length -1) ? 'last-paragraph-message' : ''}}"
                id="{{message.senderId + '-' + message.timestamp}}")
            div(class="col-xs-2")
                small(class="text-muted")
                    |12:23 PM